// Tipografia
$fuente_principal: 'Montserrat', sans-serif;

// Colores
$verde:rgba(5, 19, 22, 0.68);
$rosa: #11235fba;
$amarillo: rgb(80,127,182);
$morado: #4f88cccc;
$negro: #000000;
$blanco: #FFFFFF;

// Tamaños de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;